PROC:CFG_1.0:7:0::
#
ROBATECH_PROPERTIES:

      -name "Robatech" -equip_lag_on 0.00700000022 -equip_lag_off 0.0199999996

#CTRL_SIGNATURE:pdvxxX0VrELjuUcCc07U7rrNzZbGqPW5QnstAubX+VRO7Lz2j1ocSKQk0F7vQSP+49bEelXaZ512lZX0c3+kFw==