SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "Bonjour" -EnableOnPrivateNet 

      -Name "IntegratedVision" -EnableOnPrivateNet 

      -Name "EtherNetIP" -EnableOnPublicNet  -EnableOnPrivateNet \
      -EnableOnIONet 

      -Name "RapidSockets" -EnableOnPublicNet  -EnableOnPrivateNet \
      -EnableOnIONet 

      -Name "RobotWebServices" -EnableOnPublicNet  -EnableOnPrivateNet 

      -Name "UDPUC" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPublicNet  -EnableOnPrivateNet 

      -Name "ConnectedServices" -EnableOnPrivateNet 

      -Name "RobAPI" -EnableOnPublicNet  -EnableOnPrivateNet 

      -Name "OpcUaServer" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Private Network"

      -Name "Public Network" -Address "192.168.50.240"\
      -SubnetMask "255.255.255.0"

      -Name "IO Network" -Address "192.168.10.10" -SubnetMask "255.255.255.0"\
      -PortSpeed "auto"
#
ROUTE:

      -Name "0.0.0.0/0" -Destination "0.0.0.0/0" -Gateway "192.168.50.240"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -CSEID "15000-100688" -DCNotify FALSE\
      -ProxyPwd "eRBrGsNld6nTh68Zbys5CxkGnpsb6NzkyWuW76XEu2oS45Vi"\
      -HTTPPassword "LyYWB8uyeQkktlkkvOAUJWF31uxI0awpiUYA9MBbmkrE3ti8"\
      -MQTTPassword "FWxkKyX2cDxad22XGeUDR4Kb3LxPJsRI/dTXlU1SA5fkgBls"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "KSQQTTgYA/lvQm2kGAnNvUeBBvZVc6EJKXg49ndklKqbAQOd"\
      -Password "vGAkt9pLVZHkfQPgL/xSL4B4vRaCxtkAhXYnLATm9Fu9txDi"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "fil5UQhug8kSEAcYzaP5S+64aAqrNjN32570wbiRmSz3Dn/3"
#
CSGW_WIRED:

      -Name "CSGW"
#
UDPUC_HOST:

      -Name "UCdevice" -Type "UDPUC" -RemoteAddress "127.0.0.1"
#
IV_CAMERA:

      -Name "Camera" -Username "admin"\
      -Password "f4SjUQz5zUosw9qZTu8FAgERXrhvHgGa1BxY+Z+xDcox7UDy"\
      -MAC "00:d0:24:29:f0:d8" -CameraType 1

#CTRL_SIGNATURE:MbWVGkLtUi3qdD5A+xNUmxY0F40BMPVrheecosAz7kMXSO+ycGqojMq0YzausJ6cKjFjN5cE/0HSbJJXcIUGaQ==